* {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header {
  display: flex;
  width: 100%;
  background-color: #383838;
  justify-content: space-around;
  align-items: center;
}

.ul-menu {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.ul-menu__item {
  padding: 15px 30px;
  text-transform: capitalize;
  margin: 0;
}

.ul-menu__item-link:hover {
  color: #b297c4;
  text-decoration: none;
}

.ul-menu__item-link--active {
  background-color: orange;
}

.ul-menu__item-link {
  text-decoration: none;
  color: #fff;
}

.post {
  height: 100%;
  text-align: center;
}

.posts {
  display: flex;
  flex-wrap: wrap;
}
